<a href="https://colab.research.google.com/github/Latiefabdul/Learning_Session/blob/main/Intro_to_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro to Dataframe


List of contents:
- List
- Tupple
- Numpy Series
- Pandas Series
- Reading data
- Data manipulation

In [1]:
import numpy as np
import pandas as pd

## List

In [2]:
contoh_list = ['survey_id_1', 'survey_id_2']
contoh_list2 = ["Ari", 17]
contoh_list3 = ['Ayu', 17]

In [3]:
contoh_list[0]

'survey_id_1'

In [4]:
type(contoh_list)

list

In [5]:
contoh_list2

['Ari', 17]

In [6]:
list(zip(contoh_list, contoh_list2))

[('survey_id_1', 'Ari'), ('survey_id_2', 17)]

In [7]:
dataframe_list = pd.DataFrame(list(zip(contoh_list, contoh_list2, contoh_list3)), columns = ['jenis_survey','unknown', 'unknown_2'])
dataframe_list

  jenis_survey unknown unknown_2
0  survey_id_1     Ari       Ayu
1  survey_id_2      17        17

In [8]:
dataframe_list[['jenis_survey','unknown']]

  jenis_survey unknown
0  survey_id_1     Ari
1  survey_id_2      17

In [9]:
dataframe_list['jenis_survey']

0    survey_id_1
1    survey_id_2
Name: jenis_survey, dtype: object

## Tupple

In [10]:
tupple_1 = ('Starterkit Vertical', 1800000)
tupple_2 = ('Starterkit Bertingkat', 1850000)
tupple_3 = ('Starterkit Besar', 3500000)
tupple_4 = ('Starterkit Mini', 350000)

In [11]:
type(tupple_1)

tuple

In [12]:
tupple_1[0]

'Starterkit Vertical'

In [14]:
dataframe_tupple = pd.DataFrame([tupple_1, tupple_2, tupple_3, tupple_4], columns=['nama_starterkit', 'harga'])
dataframe_tupple

         nama_starterkit    harga
0    Starterkit Vertical  1800000
1  Starterkit Bertingkat  1850000
2       Starterkit Besar  3500000
3        Starterkit Mini   350000

### Abdul

In [15]:
tupple_1 = ('Starterkit Vertical', 1800000, 'besar')
tupple_2 = ('Starterkit Bertingkat', 1850000, 'besar')
tupple_3 = ('Starterkit Besar', 3500000, 'besar')
tupple_4 = ('Starterkit Mini', 350000, 'kecil')

dataframe_tuple = pd.DataFrame([tupple_1, tupple_2, tupple_3, tupple_4], columns = ['nama_starterkit', 'harga', 'condition'])
dataframe_tuple

         nama_starterkit    harga condition
0    Starterkit Vertical  1800000     besar
1  Starterkit Bertingkat  1850000     besar
2       Starterkit Besar  3500000     besar
3        Starterkit Mini   350000     kecil

### Alfiza

In [16]:
tuple_1 = ('DC Shoes', 180000, 'good condition')
tuple_2 = ('Dickies Pants', 185000, 'good')
tuple_3 = ('Spitfire Wheels', 350000, 'like new')
tuple_4 = ('SpeedHunter Logo', 3000000, 'good')

dataframe_tuple = pd.DataFrame([tuple_1, tuple_2, tuple_3, tuple_4], columns = ['nama_starterkit', 'harga', 'condition'])
dataframe_tuple

    nama_starterkit    harga       condition
0          DC Shoes   180000  good condition
1     Dickies Pants   185000            good
2   Spitfire Wheels   350000        like new
3  SpeedHunter Logo  3000000            good

### Razak

In [17]:
tupple1 = (1,'Starterkit Vertical', 1800000, 'a')
tupple2 = (2,'Starterkit Bertingkat', 1850000, 'b')
tupple3 = (3,'Starterkit Besar', 3500000, 'c')
tupple4 = (4,'Starterkit Mini', 350000, 'd')


dataframeList = pd.DataFrame([tupple1, tupple2, tupple3, tupple4], columns=['starter_id', 'nama_starterkit', 'harga', 'category'])
dataframeList

   starter_id        nama_starterkit    harga category
0           1    Starterkit Vertical  1800000        a
1           2  Starterkit Bertingkat  1850000        b
2           3       Starterkit Besar  3500000        c
3           4        Starterkit Mini   350000        d

## Numpy Array

In [19]:
numpy_1 = np.array([1, 2])
numpy_1

array([1, 2])

In [20]:
list_mantap = []
for i in ['Starterkit A', 'Starterkit B']:
  list_mantap.append(i)

In [21]:
np.array(list(list_mantap))

array(['Starterkit A', 'Starterkit B'], dtype='<U12')

In [22]:
numpy_2 = np.array([['Starterkit Vertical', 1800000], ['Starterkit Bertingkat', 1850000], ['Starterkit Besar', 3500000]])
numpy_2

array([['Starterkit Vertical', '1800000'],
       ['Starterkit Bertingkat', '1850000'],
       ['Starterkit Besar', '3500000']], dtype='<U21')

In [23]:
dataframe_numpy = pd.DataFrame(numpy_2, columns=['nama_starterkit', 'harga'])
dataframe_numpy

         nama_starterkit    harga
0    Starterkit Vertical  1800000
1  Starterkit Bertingkat  1850000
2       Starterkit Besar  3500000

In [24]:
type(np.array([1, 2]))

numpy.ndarray

## Pandas

In [25]:
pandas_series1 = pd.Series(['Cultigo', 'Software House', 'Data Analytics Solution'])
pandas_series2 = pd.Series([1, 0.5, 1])

In [26]:
dataframe_pandas_series = pd.DataFrame({"Nama":pandas_series1, "usia":pandas_series2})
dataframe_pandas_series

                      Nama  usia
0                  Cultigo   1.0
1           Software House   0.5
2  Data Analytics Solution   1.0

### Intermezo SQL Batch 20 Keren Binggo

#### Razak

In [27]:
import psycopg2
import psycopg2.extras as extras

# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql = """SELECT 
	ho.user_id,
	CONCAT_WS(' ', hu.first_name, hu.last_name) AS full_name,
	hu.email,
	hu.country,
	COUNT(ho.order_id) AS amount_of_order
	FROM homework_order AS ho
	JOIN homework_user AS hu ON hu.id = ho.user_id
	GROUP BY 1, 2, 3, 4 ORDER BY 5 DESC;"""
station = pd.read_sql_query(sql, conn)
station = station.reset_index(drop=True)
station

,user_id,full_name,email,country,amount_of_order
0,41774,Raymond Johnson,raymondjohnson@example.net,China,6
1,43388,Julie Underwood,julieunderwood@example.com,Brasil,5
2,70462,Daniel Morris,danielmorris@example.net,China,5
3,17279,Carol Casey,carolcasey@example.org,China,5
4,12761,Stephanie Chavez,stephaniechavez@example.org,China,5
...,...,...,...,...,...
3351,54469,Kayla Brown,kaylabrown@example.net,China,1
3352,32818,Kari Fleming,karifleming@example.org,United States,1
3353,45725,Dylan Evans,dylanevans@example.net,China,1
3354,54042,Anna Ayers,annaayers@example.com,China,1
3355,28647,Larry Schultz,larryschultz@example.net,China,1

#### Siti Anggraini

In [28]:
# intermezo
conn = psycopg2.connect(
          host = "digitalskoladb.c04me33o8tni.ap-southeast-1.rds.amazonaws.com",
          database = 'sandbox',
          user = 'ds20_all',
          password = 'dsBatch20')
conn.set_client_encoding('UTF8')


# reading data from sql
sql = "SELECT nama_lengkap, tgl_lahir from pegawai_anggiii"
station = pd.read_sql_query(sql, conn)
station = station.reset_index(drop=True)
station

      nama_lengkap   tgl_lahir
0  Siti Aanggraini  1998-10-30
1   Siti Anggraini  1998-10-30
2            Freya  1998-10-28
3             enji  1997-10-20

## Membaca DataFrame

In [ ]:
# membaca csv file
customer = pd.read_csv("https://github.com/Latiefabdul/Learning_Session/blob/main/SQL%20dataset/customers_dataset.csv", error_bad_lines=False)
customer.head(5)

In [ ]:
from google.colab import files
files.upload()