<a href="https://colab.research.google.com/github/Latiefabdul/Learning_Session/blob/main/Python_Programming_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1 - Introduction to **Python**

## Section 1.1

### Section 1.1.1

# Print Command
**Basic Print Code**

In [ ]:
print("Hello Farah!!!!") #ini adalah String
print(5) #ini adalah integer

Hello Farah!!!!
5

##Sequence

In [ ]:
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

##Variables and Datatypes

In [ ]:
# Boolean
laki = False
perempuan = True
# print(laki)

# String
namaku = "Farah Yulianti"
# namaku = "Alivia"
no_tlp = "081727272626"
# print(no_tlp)

# Integer
umurku = 23
tahunKelahiran = 2003
tahunSekarang = 2022
# print(umurku)
# print(tahunSekarang - tahunKelahiran)

# Float
GPA = 4.563466
# print(GPA)

# Complex number
angka = 2+2j
# print(angka)

print(type(laki))
print(type(GPA))
print(type(angka))
print(type(umurku))

<class 'bool'>
<class 'float'>
<class 'complex'>
<class 'int'>

##Jenis2 Format

In [ ]:
namaku1 = "Nabila"
umurku1 = 27

In [ ]:
# Cara pertama (+)
print("Halo, namaku " + namaku1)
print("Halo, umurku " + str(umurku1))

# Cara kedua (,)
print("Umurku", umurku1)

Halo, namaku Nabila
Halo, umurku 27
Umurku 27

In [ ]:
a = "Gigih"
b = "Ramadhani"
c = 22
print("Saya " + a + " " +b + " " + str(c)) #Cara lama (Python 2)
print("Saya",a,b,c) #(Python 3)

# print(a,b)
#print(b)

Saya Gigih Ramadhani 22
Saya Gigih Ramadhani 22

In [ ]:
print("Halo, namaku", namaku)
print("Umurku", umurku)

In [ ]:
# %-Formatting
print("Halo, namaku %s.\nUmurku %s. %s umur %s" % (namaku, umurku, namaku, umurku))
# \n artinya adalah enter

In [ ]:
# str.format()
print("Halo, namaku {nama}.\nUmurku {umur}.\n{nama} umur {umur}".format(nama = namaku, umur = umurku))

In [ ]:
# f-String
print(f"Halo, namaku {namaku}.\nUmurku {umurku}.\n{namaku} umur {umurku}")
print(f"Halo, namaku {namaku}.\nUmurku {umurku}.\n{namaku} umur {tahunSekarang - tahunKelahiran}")
print(f"{{{tahunSekarang - tahunKelahiran}}}")

##Import Library

In [ ]:
# Menginstall Library pandas
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import tensorflow as tf #Library
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors #Library
from sklearn.metrics import accuracy_score

## Arithmethic Operation

In [ ]:
import math
a = 13.0
b = 3
c = 81

# print(type(a))
print(a + b)
print(a * b)
print(a - b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b) #Pangkat
print(pow(a,b)) #Pangkat
print(abs(a)) #Absolute (negative jd positive)
print(math.sqrt(c))

print(max(3,4,5,6,10))
print(min(3,4,5,6,10))

16.0
39.0
10.0
4.333333333333333
4.0
1.0
2197.0
2197.0
13.0
9.0
10
3

##Logical Operator

In [ ]:
x = 5
y = 12

# AND = HARUS TRUE SEMUA UNTUK HASIL TRUE
# OR = SALAH SATU TRUE YA UDAH TRUE
# NOT = KEBALIKANNYA DARI HASIL OPERATOR AND / OR

print(x > 3 and y < 10) #False
print(x > 3 or y < 4) #True
print(not(x > 5 and y < 12))#True

False
True
True

##Conditional

In [ ]:
a = 600
b = 630

if b > a:
  print("b lebih besar dari a")
else:
  print("ini a lho yg lbh gede")

b lebih besar dari a

In [ ]:
a = 8 #1000, 8, 9, 90
b = 33
c = 190

# = maka assign nilai
# == maka compare nilai

if (a > b or a > c) and a >= 1000:
  print("A adalah yg terbesar")
elif (a == 9):
  print("A adalah 9")
elif (a > b or a > c) and a <= 1000:
  print("Salah Satu kondisi adalah Benar")
else:
  print("Semua salah")

Semua salah

In [ ]:

# if a > b and c > a and c < 1000:
#   print("Kedua kondisi Benar")
#   s = 20
# elif a > b and a > c:
#   print("a itu terbesar")
#   s = 40
# elif c > b and c > a and c > 1000:
#   print("C itu terbesar")
#   s = 50
# else:
#   print("ada yg salah tuh")
#   s = 0

##Nested If

In [ ]:
x = 19 #9,19,21

# indent
if x > 10:
  print("Diatas sepuluh,")
  if x > 20:
    print("Diatas 20 juga!!")
  else:
    print("tapi tidak diatas 20.")
else:
  print("Nilai dibawah 10")

Diatas sepuluh,
tapi tidak diatas 20.

# List

In [ ]:
nama = ["Farah", "Agil", "Muggy","Farah"]
Jabatan = ["Tutor DS18", "Tutor DS16", "Tutor DS12"]

In [ ]:
nama[3] = "Aries"
print(nama)
Jabatan[2] = "Tutor Python 1"

print(Jabatan[2])

['Farah', 'Agil', 'Muggy', 'Aries']
Tutor Python 1

# Tuple

In [ ]:
nama_tutor = ("Farah", "Agil", "Muggy")
Kota = ("Chicago", "New York", "Tokyo")

In [ ]:
Kota[2]

'Tokyo'

In [ ]:
print(Kota[2])

Tokyo

In [ ]:
nama_tutor[1]

'Agil'

# Dictionary

In [ ]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
car["year"]

1964

In [ ]:
car["model"] = "Sedan"
# car["model"]

car

{'brand': 'Ford', 'model': 'Sedan', 'year': 1964}

In [ ]:
car['model']

'Mustang'