<a href="https://colab.research.google.com/github/Latiefabdul/Learning_Session/blob/main/Python_Programing_III.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Function Python

In [ ]:
def func1():
  print("Hellow All!!") #Kode dalam function

func1() #Memanggil Function

Hellow All!!

In [ ]:
def _fungsiSaya():
  print("Saya berguna untuk demonstrasi fungsi")
  print(1452567)
  print("\n") #Enter atau newline
  print(3.5655)
  print("Hahaha itu saldo ATM apa GPA :v")

_fungsiSaya() #Memanggil Function

Saya berguna untuk demonstrasi fungsi
1452567


3.5655
Hahaha itu saldo ATM apa GPA :v

In [ ]:
#Function Mengembalikan Nilai
def func_return_nilai():
  a = 5
  b = 6
  return(a+b)

func_return_nilai()

11

##Scope

**Local Scope**

In [ ]:
def localScp():
  var1 = 10 #Local Scope = Didalam function
  # return var1
  print(var1)

localScp()

10

**Global Scope**

In [ ]:
var1=10

def GlobalScp():
  var2 = 20
  c = var1 + var2
  return c

def test():
  b = GlobalScp()
  a = b ** 2
  return a

test()

900

**Global Keyword**

In [ ]:
def GlobalKey():
  global var1 # Deklarasi global
  var1=10 # Assign nilai
  print("ini didalam function:" ,var1)

def func2():
  c = var1 + 10
  return c

GlobalKey()
print("ini diluar function:" ,var1)
func2()

ini didalam function: 10
ini diluar function: 10

20

##Arguments

In [ ]:
def daftar_nama(fname): #Parameter
  print(fname, "Fischer")

daftar_nama("Taylor") #Argument
daftar_nama("Farah")

Taylor Fischer
Farah Fischer

In [ ]:
def daftar_nama(fname,lname): #Parameter = Variabel, didalam tanda kurungnya function
  print(fname, lname)

daftar_nama("Taylor","Fischer") #Arguments = Nilai, didalam tanda kurung saat menanggil function
daftar_nama("Farah","Yulianti")
daftar_nama("Adithya","Muzalian")

Taylor Fischer
Farah Yulianti
Adithya Muzalian

In [ ]:
def tambah(operand1,operand2):
  hasil = operand1 + operand2
  return hasil

def kurang(operand1,operand2):
  hasil = operand1 - operand2
  return hasil

tambah(20,2)

22

In [ ]:
kurang(20,2)

18

##Arbitary Arguments (Args)

In [ ]:
def dftr_pst(*nama):
  print("Peserta Kedua:" ,nama[1])
  print("Peserta Ketiga:" ,nama[2])
  print("Peserta Keempat:" ,nama[3])

dftr_pst("Julian", "Hendri", "Farah","Devina","Lily")

Peserta Kedua: Hendri
Peserta Ketiga: Farah
Peserta Keempat: Devina

In [ ]:
def dftr_pst(*nama):
  for j,i in enumerate(nama): #Enumerate = Menyimpan indeks dari list
    print("Peserta ke-", j, ":" ,i)

dftr_pst("Julian", "Hendri", "Farah","Devina","Lily")

Peserta ke- 0 : Julian
Peserta ke- 1 : Hendri
Peserta ke- 2 : Farah
Peserta ke- 3 : Devina
Peserta ke- 4 : Lily

##Keyword Arguments

In [ ]:
def dftr_pst(nama,alamat,kelas):
  print("Nama Peserta:", nama)
  print("Alamat Peserta:", alamat)
  print("Kelas Peserta:", kelas)

dftr_pst(nama= "Lily", kelas="English", alamat="Jakarta")

Nama Peserta: Lily
Alamat Peserta: Jakarta
Kelas Peserta: English

##Arbitary Keyword Arguments (Kwargs)

In [ ]:
def dftr_pst(**data):
  print("Nama Peserta:", data["nama"])
  print("Alamat Peserta:", data["alamat"])
  print("Kelas Peserta:", data["kelas"])
  print("Kecamatan Peserta:", data["kecamatan"])
  print("Penghasilan Peserta:", data["penghasilan"])

dftr_pst(nama= "Lily", kelas="English", alamat="Jakarta", kecamatan="Lebak Bulus", penghasilan="100000")

Nama Peserta: Lily
Alamat Peserta: Jakarta
Kelas Peserta: English
Kecamatan Peserta: Lebak Bulus
Penghasilan Peserta: 100000

##Default Parameter Value

In [ ]:
def data_pst(nama="Lily"):
  print("Nama Peserta:", nama)

data_pst()
data_pst("Unggah")

Nama Peserta: Lily
Nama Peserta: Unggah

In [ ]:
def dftr_pst(nama="Chandra",alamat="Denpasar",kelas="Programming"):
  print("Nama Peserta:", nama)
  print("Alamat Peserta:", alamat)
  print("Kelas Peserta:", kelas, "\n")

dftr_pst()
dftr_pst("Farah","Bekasi")
dftr_pst("Rahmat","Bandung","Tutor")

##List sebagai argumen

In [ ]:
def materi(mat):
  for i in mat:
    print("Daftar Materi:", i)

mat = ["Programming Concept", "CSIP", "SSIP","SOA","Cloud Computing"]
materi(mat)

Daftar Materi: Programming Concept
Daftar Materi: CSIP
Daftar Materi: SSIP
Daftar Materi: SOA
Daftar Materi: Cloud Computing

##Return Values

In [ ]:
def tambah(a,b):
  c = a + b
  return c

a = 50
b = 30
hasil = tambah(a,b)
print(hasil)

a=80
b=90

print(tambah(a,b))

##Lambda

In [ ]:
x = lambda a,b:a+b
print(x(12,2))

In [ ]:
x=lambda umur:"bukan tua" if umur > 20 and umur < 50 else "tua"

print(x(40))

##Math Functions

In [ ]:
import math
x = math.ceil(28.7) #Buletin keatas
y = math.floor(28.7) #Buletin kebawah
z = math.sqrt(81) #Akar 2
o = math.pi #Pi
p = math.pow(4,3) #Pangkat
q = math.fsum([1, 2, 3, 4, 5]) #Sum of list
r = math.factorial(5) #Factorial
print(x, y, z, o, p, q, r)

29 28 9.0 3.141592653589793 64.0 15.0 120

##OOP dan Class

In [ ]:
class cal():
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
    def mul(self):
        return self.a*self.b
    def div(self):
        return self.a//self.b
    def sub(self):
        return self.a-self.b
        
calc1 = cal(10,2)
# tambah = calc1.add()
# kurang = calc1.sub()
kali = calc1.mul()
bagi = calc1.div()

print("Hasil Tambah:", calc1.add())
print("Hasil Kurang:", calc1.sub())
print("Hasil Kali:", kali)
print("Hasil Bagi:", bagi)

Hasil Tambah: 12
Hasil Kurang: 8
Hasil Kali: 20
Hasil Bagi: 5

# String Manipulation
**Checkout more here: https://www.freecodecamp.org/news/python-string-manipulation-handbook/**